:root {
    
    .not-found {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-top: 40px;
        
        .title {
            border: 2px solid #ae8bf8;
            padding: 16px;
            border-radius: 20px;
            width: fit-content;
            box-shadow: inset 3px 3px 4px rgba(40, 39, 39, 0.5);
        }

        .link {
            box-shadow: inset 3px 3px 4px rgba(40, 39, 39, 0.5);
            padding: 16px;
            border-radius: 20px;
            color: #ae8bf8;
        }
    }
}