@use "../../../../shared//assets/styles/global";

:root{
    
    .hero {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 180px;
        
        .text {
            white-space: pre-line;
            font-size: 4.0rem;
            font-weight: 300;
            color: var(--main-text-color);

             @media (max-width: 975px) {
                font-size: 50px;
            }

            @media (max-width: 890px) {
                font-size: 45px;
            }
            @media (max-width: 750px) {
                font-size: 30px;
            }
            @media (max-width: 355px) {
                font-size: 20px;
            }
        }

        .hero-animation {
            flex: 0 0 auto;
            width: 500px;
            height: 500px;

            @media (max-width: 975px) {
                width: 400px;
                height: 400px
            }

            @media (max-width: 890px) {
                width: 300px;
                height: 300px
            }
            @media (max-width: 750px) {
                width: 300px;
                height: 300px
            }
            @media (max-width: 500px) {
                width: 200px;
                height: 200px
            }
            @media (max-width: 355px) {
                width: 150px;
                height: 150px
            }
        }
    }
}


